{% extends "registration/base.html" %}
{% block content %}      
<head>
  <style>
    h1{
      color: purple;
      font-weight: bold;
      font-family: cursive;
    }
    .form-control{
            width:50%;}   
   </style>
</head>
{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <br>
  <br>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <br>
  <br>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}